
.bg-yellow {
  background-color: #ffe600c2;
}


.text-yellow {
  color: #ffbb00;
}

.bg-opacity{
  background-color: rgba(250, 243, 243, 0.524);
}

.text-new{
  color: rgba(97, 93, 93, 0.822);
}
